.tableau {
    
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

*{
    background-color: bisque;
}

.formulaire{
   
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnn {
    
    display: flex;
    justify-content: space-around;
    width:30%;
}
.btn-box {
   
    display: flex;
    justify-content: center;

}